<!DOCTYPE html>
<html ng-app="testapp">
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
      <div ng-include="'nav/_nav.html'"></div>
      <div ui-view></div>
  </div>
</body>
</html>